{#<div id="form">#}
    {#<form name="appbundle_product"  >#}
        {#<div id="appbundle_product">#}
            {#<div class="form-group">#}
                {#<label for="appbundle_product_name" class="required">Name</label>#}
                {#<input type="text"#}
                       {#class="form-control"#}
                       {#id="appbundle_product_name"#}
                       {#name="appbundle_product[name]"#}
                       {#required="required"#}
                       {#v-model="name"#}
                       {#maxlength="255">#}
            {#</div>#}
            {#<div class="form-group">#}
                {#<label for="appbundle_product_category" class="required">Category</label>#}
                {#<input type="text"#}
                       {#class="form-control"#}
                       {#id="appbundle_product_category"#}
                       {#name="appbundle_product[category]"#}
                       {#required="required"#}
                       {#v-model="category"#}
                       {#maxlength="255">#}
            {#</div>#}
            {#<div class="form-group">#}
                {#<label for="appbundle_product_manufacturer" class="required">Manufacturer</label>#}
                {#<input type="text"#}
                       {#class="form-control"#}
                       {#id="appbundle_product_manufacturer"#}
                       {#name="appbundle_product[manufacturer]"#}
                       {#required="required"#}
                       {#v-model="manufacturer"#}
                       {#maxlength="255">#}
            {#</div>#}
            {#<div class="form-group">#}
                {#<label for="appbundle_product_price" class="required">Price</label>#}
                {#<input type="text"#}
                       {#class="form-control"#}
                       {#id="appbundle_product_price"#}
                       {#name="appbundle_product[price]"#}
                       {#required="required"#}
                       {#v-model="price"#}
                       {#maxlength="255">#}
            {#</div>#}
            {#<div class="form-group">#}
                {#<label for="appbundle_product_slug" class="required">Slug</label>#}
                {#<input type="text"#}
                       {#class="form-control"#}
                       {#id="appbundle_product_slug"#}
                       {#name="appbundle_product[slug]"#}
                       {#required="required"#}
                       {#v-model="slug"#}
                       {#maxlength="255">#}
            {#</div>#}
            {#<input class="btn btn-success" type="hidden" id="appbundle_product__token" name="appbundle_product[_token]"#}
                   {#value="0p57uMg3NedagTg9UULnhJz_wS_RxJ0IxH-clkoLyr0"></div>#}
        {#<input class="btn btn-success" @click="onSubmit" value="Create">#}
    {#</form>#}
{#</div>#}